*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#2a293c;
    color: #ffff;
    padding: 15px 80px;
}
nav div ul{
    display: flex;
    gap: 30px;
    list-style: none;
    cursor: pointer;
}

nav div button{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
nav div button:hover{
    background-color: rgb(44, 52, 194);
    color: #ffff;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2a293c;
    color: #ffff;
    padding: 40px 80px;
}

.hero div{
    width: 50%;
}
.hero div h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero div p{
    font-size: 1.2rem;
    color: #b9b9b9;
    margin-bottom: 1rem;
}
.hero div button{
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.hero div button:hover {
    background-color: rgb(44, 52, 194);
    color: #ffff;
}

.hero div img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px white;
}
.hero div img:hover{
    transform: rotate(10deg);
    transition: all 0.5sec ease-in-out;
}

.logo-text{
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    color: #2a293c;
}
.logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 20px 10%;
    border: 2px solid #393939;
    padding: 40px 80px;
}
.logo div img{
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.three-cards{
    margin: 20px 10%;
    padding: 40px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #393939;
    box-shadow: 0 0 10px black;
}
.card{
    border: 2px solid black;
    border-radius: 15px;
    width: 20%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px black;
}
.card  img{
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
h3{
    margin: 20px 0;
}
.card p{
    margin: 20px 0;
}