body{
    text-align: center;
    background-color: rgb(233,215,207);
    margin: 50px;
    color: rgb(83,75,75);
  }

  h1{
    font-family: 'Oswald',sans-serif;
  }

  p{
   font-family: 'Fira Sans',sans-serif;
   font-size: 24px; 
  }
 
  
  a{
    font-family:'Fira S ans',sans-serif ;
    color: rgb(167, 38, 59);
    text-decoration: none;   
  
  }
  a:hover{
    text-decoration: underline;
  }
